<!DOCTYPE html>    
<html>    
<head>
    <title>Login Form</title>    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">  
</head>    
<body>
<form action="action_page.php" method="post">

    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required><p>
  
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required><p>
  
      <button type="submit">Login</button><p>
    </div>
  
  </form>